<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @recommends.each do |recommend| %>
    <%= image_tag recommend.image, class: "recommend-img" %>
      <p><%= recommend.place_name %></p>
      <span class="name"><%= recommend.region.name %></span>
    </div>
  <% end %>
</div>