<div class="recommend-wide">
  <div class="contents-row">
    <% @recommends.each do |recommend| %>
      <div class='recommend-list'>
      <%= link_to recommend_path(recommend.id) do %>
        <div class='recommend-img-content'>
          <%= image_tag recommend.image.variant(resize: '380x380'), class: "recommend-img" %>
        </div>
        <div class='recommend-info'>
          <p class='name'>
            場所：<%= recommend.place_name %>
          </p>
          <p class='name'>
            カテゴリー：<%= recommend.category.name %>
          </p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
